# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/dist
/build

# Tauri build output
/src-tauri/target

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Temporary files
/archive
/tempclient_secret_2_715814737148-4olsaavi4h01u7gr4bd6r696ukjrhilm.apps.googleusercontent.com.json
client_secret*.json
